# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/

# Envs / IDE
.venv/
venv/
.env
.vscode/

# Data / Models / Outputs
data/
models/
outputs/onset_test.csv
outputs/onset_train.csv

# OS
.DS_Store
Thumbs.db
